<div class="chakra-stack showcase-1qv15mo">

    <div class="showcase-2earsx"><img alt="Lovely Image"
            src="https://images.unsplash.com/photo-1630759072462-d5348e577ee8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=872&amp;q=80"
            class="chakra-image showcase-mg9rj0">
        <div class="showcase-v6ci7a">
            <div class="chakra-stack showcase-aajx3r">
                <div class="chakra-stack showcase-egoftb">
                    <h2 class="chakra-heading showcase-gb762p">All dressed</h2>
                    <p class="chakra-text showcase-145gt6j">Dress that feels a little fany for when pajamas aren’t
                        cutting it</p>
                </div><a data-theme="light" class="chakra-button showcase-g8ddnr">Shop now</a>
            </div>
        </div>
    </div>

    <div class="chakra-stack showcase-1xr9jjw">
        <div class="showcase-ow02go"><img alt="Lovely Image"
                src="https://images.unsplash.com/photo-1613521973937-efce73f2f943?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=930&amp;q=80"
                class="chakra-image showcase-ctoung">
            <div class="showcase-v6ci7a">
                <div class="chakra-stack showcase-egoftb">
                    <div class="chakra-stack showcase-egoftb">
                        <h2 class="chakra-heading showcase-gb762p">Topped off</h2>
                    </div><a data-theme="light" class="chakra-button showcase-g8ddnr">Shop now</a>
                </div>
            </div>
        </div>
        <div class="showcase-ow02go"><img alt="Lovely Image"
                src="https://images.unsplash.com/photo-1548306530-3ece53b754b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=774&amp;q=80"
                class="chakra-image showcase-ctoung">
            <div class="showcase-v6ci7a">
                <div class="chakra-stack showcase-egoftb">
                    <div class="chakra-stack showcase-egoftb">
                        <h2 class="chakra-heading showcase-gb762p">Go chic</h2>
                    </div><a data-theme="light" class="chakra-button showcase-g8ddnr">Shop now</a>
                </div>
            </div>
        </div>
    </div>

</div>