.search-box {
  position: relative;
  height: 40px;
  width: 0px;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 350px;
}

@media only screen and (max-width: 600px) {
  .search-box.active {
    width: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .search-box.active {
    width: 100px;
  }
}


.search-box.active input {
  opacity: 1;
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  background: #fff;
  font-size: 18px;
  border-radius: 50px;
  padding: 0 60px 0 20px;
  outline: none;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn {
  height: 50px;
  width: 50px;
  background: #fff;
  color: #000;
  position: absolute;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);
  line-height: 50px;
  justify-content:center;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 2;
}

.search-box .search-btn:hover {
  background: #ddd;
}

.search-box.active .search-btn {
  height: 50px;
  width: 50px;
  background: #7928ca;
  color: #fff;
}

.search-box .cancel-btn {
  position: absolute;
  color: #7928ca;
  top: 50%;
  right: -75px;
  transform: translateY(-50%);
  color: #7928ca;
  font-size: 25px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
}

.search-box.active .cancel-btn {
  right: -135px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
